VITE_GEN_PYDANTIC_ENDPOINT=http://localhost:8000/api/gen-pydantic
VITE_VALIDATE_LINKML_ENDPOINT=http://localhost:8000/api/validate-linkml
VITE_OPENAI_API_ASSISTANT_ID=asst_0123456789ABCDEF
VITE_OPENAI_API_THREAD_ID=thread_0123456789ABCDEF
VITE_OPENAI_API_KEY=sk-proj-0123456789ABCDEF
